<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.ReplyMapper">

<select id = "selectReply" resultType = "net.skhu.dto.req.ReqReply">
	SELECT * 
	  FROM notice_reply 
	 WHERE 1=1
	   AND notice_seq = ${seq}
</select>

<insert id= "insertNotice" parameterType = "net.skhu.dto.res.ResNotice">
	INSERT INTO notice (subject, contents, req_date, start_date, end_date, views, writer ) 
	VALUES ( #{subject}, #{contents}, #{req_date}, #{start_date}, #{end_date}, 0, #{writer} )
</insert>

<delete id= "deleteNotice">
	DELETE FROM notice 
	WHERE seq = #{seq} 
</delete>
	
</mapper>