<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.read.NoticeReadMapper">

<select id = "findAll" parameterType = "net.skhu.dto.req.ReqCriteria" resultMap="NoticeList" >
	SELECT * 
	  FROM notice 
	 WHERE 1=1
	   AND start_date <![CDATA[<=]]> date_format(sysdate(), '%Y%m%d') 
	   AND end_date <![CDATA[>=]]> date_format(sysdate(), '%Y%m%d') 
 	 LIMIT ${amount * (pageNum-1)}, ${amount}
</select>

<resultMap type="net.skhu.dto.req.ReqNotice" id="NoticeList">
	<id property="seq" column="SEQ"/>
	<result property="subject" column="SUBJECT"/>
	<result property="writer" column="WRITER"/>
	<result property="req_date" column="REQ_DATE"/>
	<result property="views" column="VIEWS"/>
</resultMap>

<select id= "countNotice" resultType = "int">
	SELECT count(*) 
	  FROM notice 
	 WHERE 1=1
	   AND start_date <![CDATA[<=]]> date_format(sysdate(), '%Y%m%d') 
	   AND end_date <![CDATA[>=]]> date_format(sysdate(), '%Y%m%d') 
</select>

<select id= "findOne" parameterType = "int" resultType = "net.skhu.dto.res.ResNotice">
	SELECT *
	  FROM notice 
	 WHERE 1=1
	   AND start_date <![CDATA[<=]]> date_format(sysdate(), '%Y%m%d') 
	   AND end_date <![CDATA[>=]]> date_format(sysdate(), '%Y%m%d') 
	   AND seq = #{seq}
</select>

</mapper>