<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.master.SugangMasterMapper">

<insert id= "insertSugang" parameterType = "net.skhu.dto.res.ResSugang">
	INSERT INTO sugang ( lectureId, studentId, year, semester, credit, cancel)
	VALUES ( ${lectureId}, ${studentId}, ${year}, ${semester}, ${credit}, ${cancel})
</insert>

<insert id= "deleteSugang" parameterType = "int">
	DELETE FROM sugang
	WHERE studentId = ${studentId}
	  AND lectureId = ${lectureId}
</insert>

</mapper>

